<html>
  <head>
    <title>View Data</title>
  </head>
  <body><!-- Top Menu -->
    <main>
        <h3 style="text-align: center;">This is the Default Layout!</h3>
      {{{body}}}
      {{>footer}}
    </main>
    <!-- footer -->
  </body>
  </html>